/* -- CSS Variables -- */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --green: #31d0aa;
}

.body {
  font-family: Roboto, Raleway;
}

/* -- General Style --  */

.link-logo {
  text-decoration: none;
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 0px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.link-logo > span {
  font-size: 18px;
}
.studio-1 {
  color: var(--navy-blue);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section-title {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.button {
  color: var(--iris);
  background-color: var(--cloud);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border-color: transparent;
}
.container {
  display:
  justify-content:
}
/* End of General Style */

/* Page Header */
.header {
  color: var(--navyblue);
  background-color: var(--white);
}

.header-navigation {
}

.header-list {
  
}

.header-link:hover {
  color: var(--iris);
  }
.header-link:focus {
  color: var(--slate);
}

.header-link {
  font-family: Roboto;
  color: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* --Address-- */
.address {
  color: var(--slate);
}
.address-list {
}
.address-item {
}
.address-link:hover {
  color: var(--iris);
 }
.address-link:focus {
  color: var(--slate);
}
.address-link {
  color: inherit;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* --Main-- */
/* --Hero Section-- */
.hero {
  background-color: var(--navy-blue);
}
.hero-title {
  color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}

.hero-button {
  color: var(--white);
  background-color: var(--iris);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

/* -- Section 1 -- */
.section1 {
  background-color: var(--cloud);
}
.section1-division {
}
.section1-list {
}
.section1-item {
}
.section1-item-title {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.section1-item-text {
  color: var(--slate);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* --Services Section-- */
.services {
  background-color: var(--cloud);
}
.services-division {
}
.services-title {
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.services-list {
}
.services-item {
}

/* -- People Section -- */
.people {
  background-color: var(--cloud);
}
.people-title {
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.people-item-title {
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.people-item-text {
  color: var(--slate);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px/* 150% */
  letter-spacing: 0.32px;
}

/* --Footer-- */
.footer {
  color: var(--cloud);
  background-color: var(--navy-blue);
}
.footer-text {
  color: var(--cloud);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* --Portfolio Buttons-- */
.buttons {
background: var(--white);
}
.buttons-item {
  color: var(--iris);
  background: var(--cloud);
    border-radius: 4px;
border: 1px solid var(--cornflower);
/* Button Text */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
}
.buttons-item:hover {
  color: var(--white);
  background-color: var(--ocean)
}
.buttons-item:focus {
   
}
.buttons-all {
  color: var(--white);
  background-color: var(--ocean);
  border-radius: 4px;
  border-color: transparent;
  /* Button Text */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.64px;
}
.buttons-all:hover {
  color: var(--ocean);
  background-color: var(--white)
}

/* --Images Section-- */
.images-item-title {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.images-item-text {
  color: var(--slate);
    font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px/* 150% */
  letter-spacing: 0.32px;
}

.header-link.current {
color: var(--iris);

}