/* -- CSS Variables -- */
:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
}

.body {
  font-family: Roboto;
}

/* -- General Style --  */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.button {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
/* End of General Style */

/* Page Header */
.header {
  background-color: var(--white);
}

.header-logo {
}

.header-list {
}

.header-item {
}

.header-link {
  color: var(--navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.header-address {
}
.header-address-link {
  color: inherit;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
