/* -- CSS Variables -- */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --green: #31d0aa;
}
/* checked */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
}

/* -- General Style --  */

/* checked */
.logo-link {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 0px;
  font-weight: 800;
  text-decoration: none;
}
/* checked */
.logo-link > span {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
/* checked */
.logo {
  color: var(--iris);
}
.studio {
  color: var(--navy-blue);
}

/* Checked */
.list {
  list-style: none;
}

/* checked */
.button {
  font-family: inherit;
  font-size: 16px;
 font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 0.03em;
  border-color: transparent;
}
/* End of General Style */

/* Page Header */
/* checked */
.nav-menu .page {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none
}
/* checked */
.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--iris);
  }

/* --Address-- */

/* checked */
.contacts-menu .item {
  color: var(--slate);
  text-decoration: none;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0,02em;
   }

   /* --Main-- */
   /* --Hero Section-- */

/* checked */
.bg-hero {
  background-color: var(--navy-blue);
}
/* checked */
.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.04em;
}
/* checked */
.button.primary {
  color: var(--white);
  background-color: var(--iris);
  line-height: 1.87;
  letter-spacing: 0.06em;
}
/* checked */
.button.primary:hover,
.button.primary:focus {
  background-color: var(--ocean);
}
/* checked */
.button.filter {
  color: var(--iris);
  background: var(--cloud);
  font-weight: 500;
  line-height: 1.62;
}
/* checked */
.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--ocean);
  color: var(--cloud);
}

/* -- Section 1 -- */

/* checked */
.benefits .title {
  color: var(--navyblue);
   font-size: 20px;
  font-weight: 500;
}
.benefits .description {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* --Services Section-- */

/* checked */
.section-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  }


/* -- People Section / Team -- */

/* checked */
.bg-team {
  background-color: var(--cloud);
}
/* checked */
.team .name {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
/* checked */
.team .position {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

/* --Footer-- */
/* checked */
.page-footer.bg-footer {
  background-color: var(--navy-blue);
}
/* checked */
.studio-footer {
  color: var(--cloud);
}
/* checked */
.footer-description {
  color: var(--cloud);
}

/* --Portfolio Images-- */
/* checked */
.project {
  text-decoration: none
}
/* checked */
.project .name {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 2; /* 120% */
  letter-spacing: 0.04em;
}
/* checked */
.project .type {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}

